version: '3.7'

services:
  app_proxy:
    environment:
      APP_HOST: gramps_server_1
      APP_PORT: 5000
      PROXY_AUTH_ADD: "false"

  server: &grampsweb
    image: ghcr.io/gramps-project/grampsweb:25.12.0@sha256:f6818af91eb71fe0bd4fb322383e5d6404c65461eb894578865a0297ad9299cc
    restart: on-failure
    environment:
      GRAMPSWEB_TREE: "Gramps Web"
      GRAMPSWEB_CELERY_CONFIG__broker_url: "redis://gramps_celery_1:6379/0"
      GRAMPSWEB_CELERY_CONFIG__result_backend: "redis://gramps_redis_1:6379/0"
      GRAMPSWEB_RATELIMIT_STORAGE_URI: redis://gramps_redis_1:6379/1
    depends_on:
      - redis
    volumes:
      - ${APP_DATA_DIR}/data/app:/app
      - ${APP_DATA_DIR}/data/db:/root/.gramps/grampsdb

  celery:
    <<: *grampsweb
    depends_on:
      - server
      - redis
    command: celery -A gramps_webapi.celery worker --loglevel=INFO --concurrency=2

  redis:
    image: redis:7.4.2@sha256:bd41d55aae1ecff61b2fafd0d66761223fe94a60373eb6bb781cfbb570a84079
    user: "1000:1000"
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/data/redis:/data
